 /* 所有分类 */
    .alltags {
      position: absolute;
      height: 100%;
      width: 100%;
      overflow-x: auto;
      overflow-y: auto;
    }

    /* 单个分类 */
    .tag {
      float: left;
      margin: 5px;
      width: 200px;
      background-color: white;
    }

    /* 分类 - 标题 */
    .tag>.title {
      height: 30px;
      background-color: black;

      font-size: 18px;
      line-height: 30px;
      text-align: center;
      color: lightgray;
    }

    /* 分类 - 标题2*/
    .tag>.subtitle {
      background-color: dimgray;

      font-size: 14px;
      line-height: 25px;
      text-align: center;
      color: lightgray;
    }

    /* 分类 - 内容 */
    .tag>.list>div {
      padding-left: 10px;
      background-color: white;

    }

    .tag>.list>div:hover {
      background-color: skyblue;

    }

    .tag>.list a {
      font-size: 14px;
      line-height: 25px;
      text-decoration: none;
      color: blue;
    }

    .tag>.list a:hover {
      text-decoration: underline;
    }