ul{
  margin:0px;
  padding:0px;

  list-style: none;
}

/* 目录2 */
.contents2{
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 230px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color:white;
}

/* 标题 */
.title > div{
  margin-top:2px;
  background-color: black;

  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color:lightgray;
}

/* 标题2 */
.subtitle > div{
  margin-top:2px;
  padding-left:15px;
  border-top:1px solid gray;
  border-bottom:1px solid gray;
  background-color: whitesmoke;

  font-size: 12px;
  line-height: 20px;
  color: gray;

}

/* 内容 */
.subtitle li{
  padding-left:15px;
  background-color: white;
}
.subtitle li:hover{
  background-color: skyblue;
}


.subtitle a {
  font-size: 14px;
  line-height: 25px;
  text-decoration: none;
  color: blue;
}

.subtitle a:hover {
  text-decoration: underline;
}